.ch-chord-selector
  text-align center
  display flex
  flex-direction column
  align-items center
  .input
    &:checked
      background-color #A00
      color #FFF
  .button-wrapper
    display flex
    flex-direction row
    align-items center
    flex-wrap wrap
    justify-content center
  .button-slot
    display flex
    flex-direction column
  .button
    flex 0 0 auto
    border none
    display inline-flex
    justify-content center
    height 1.5rem
    margin 0.5rem
    padding 0.5rem
    border-radius 3px
    background-color #F0F0F0
    cursor pointer
    font-weight bold
    transition all 0.25s ease
    &:hover
    &.selected
      background-color #A00
      color #FFF