.ch-octave
  width octave-width
  position relative
  display inline-block
  .ch-row
    &.white
      display flex
      flex-direction row
    &.black
      position absolute
      top 0
      left 0