white-key-width-ratio = 2px
black-key-width-ratio = 1px
white-key-length-ratio = 7px
black-key-length-ratio = 4px
key-scale = 24

white-key-width = white-key-width-ratio * key-scale
black-key-width = black-key-width-ratio * key-scale
white-key-length = white-key-length-ratio * key-scale
black-key-length = black-key-length-ratio * key-scale
octave-width = white-key-width * 7

white-key-border-radius = 0 0 3px 3px
black-key-border-radius = 0 0 2px 2px
